@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@100;400&family=Baloo+2&family=DM+Serif+Text&family=Handlee&family=Inter:wght@300;500&family=League+Spartan:wght@100;200;500&family=Lilita+One&family=Montserrat:wght@100&family=Noto+Sans:wght@500&family=Noto+Serif+SC:wght@500&family=Nunito:wght@200&family=Open+Sans:wght@300&family=Poppins:wght@100&family=Rubik+Mono+One&family=Ubuntu:wght@300;400;500&family=Vidaloka&family=Work+Sans:wght@100&display=swap');


#home{
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.content-mobile-menu{
    position: fixed;
    background-color: #08fdd8;
    width: 155%;
    height: -webkit-fill-available;
    z-index: 1;
    margin-top: -40%;
}

.raise-home{
    background: none;
    border: 2px solid #08fdd8;
    line-height: 1;
    margin: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    height: 8vh;
    font-size: 1.5rem;
    color: #08fdd8;
    margin-top: 7%;
    transition: 0.35s;
    letter-spacing: 0.2em;
}

.raise-home:focus {
    transform: translateY(-0.25em);
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
    background-color: #08fdd8;
    color: #1d1d1d;
}

.raise-home:hover{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    background-color: #08fdd8;
    color: #1d1d1d;
    .link-contact{
        color: #1d1d1d;
    }
}


.apparait {
    display: block;
}

.title{
    font-size: calc(5rem + 1vw);
    text-align: left;
    margin-top: 13%;
    font-family: "Montserrat", sans-serif;
    white-space: pre-line;
}

.content-header{
    text-align: left;
    margin-left: 20%;
    z-index: 3;
}

.raise{
    background: none;
    border: 2px solid #08fdd8;
    line-height: 1;
    margin: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    height: 8vh;
    font-size: 1.5rem;
    color: #08fdd8;
    margin-top: 5%;
    transition: 0.35s;
    letter-spacing: 0.2em;
}

.raise:focus {
    transform: translateY(-0.25em);
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
    background-color: #08fdd8;
    color: white;
}

.raise:hover{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
   background-color: #08fdd8;
    color: #1d1d1d;
}

.buttons{
    transition: 0.25s;
}

:root {
    --hover: #08fdd8;
    --hoverspinner : #047E6C
}

.subtitle{
    font-size: 1.3rem;
    margin-top: 2%;
    letter-spacing: 0.2em;
    color: #ffffff;
    transition: 0.25s;
}

.balise{
    font-family: 'La Belle Aurore', cursive;
    color: #ffffff;
}

.balise-html{
    font-family: 'La Belle Aurore', cursive;
    color: #ffffff;
    text-align: left;
    margin-left: 13%;
}

.balise-body{
    font-family: 'La Belle Aurore', cursive;
    color: #ffffff;
    text-align: left;
    margin-left: 15%;
}

rect {
    fill: none;
    pointer-events: all;
}

circle {
    fill: none;
    stroke-width: 1px;
}
/*cursor:  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" height="10" width="10"><circle fill="%2366cdaa" cx="5" cy="5" r="5"/></svg>')*/


.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #1d1d1d;
    //background: linear-gradient(90deg, hsla(312, 66%, 76%, 1) 0%, hsla(234, 93%, 67%, 1) 100%);
    z-index: -1;
}

.background span {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 43s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ffffff;
    top: 54%;
    left: 29%;
    animation-duration: 12s;
    animation-delay: -57s;
    transform-origin: -12vw 15vh;
    box-shadow: -2vmin 0 0.9442441742752989vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffffff;
    top: 54%;
    left: 29%;
    animation-duration: 12s;
    animation-delay: -57s;
    transform-origin: -12vw 15vh;
    box-shadow: -2vmin 0 0.9442441742752989vmin currentColor;
}

.background span:nth-child(2) {
    color: #ffffff;
    top: 54%;
    left: 29%;
    animation-duration: 12s;
    animation-delay: -57s;
    transform-origin: -12vw 15vh;
    box-shadow: -2vmin 0 0.9442441742752989vmin currentColor;
}

.background span:nth-child(3) {
    color: #ffffff;
    top: 54%;
    left: 29%;
    animation-duration: 12s;
    animation-delay: -57s;
    transform-origin: -12vw 15vh;
    box-shadow: -2vmin 0 0.9442441742752989vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffffff;
    top: 54%;
    left: 29%;
    animation-duration: 12s;
    animation-delay: -57s;
    transform-origin: -12vw 15vh;
    box-shadow: -2vmin 0 0.9442441742752989vmin currentColor;
}
.background span:nth-child(5) {
    color: #ffffff;
    top: 54%;
    left: 29%;
    animation-duration: 12s;
    animation-delay: -57s;
    transform-origin: -12vw 15vh;
    box-shadow: -2vmin 0 0.9442441742752989vmin currentColor;
}
.background span:nth-child(6) {
    color: #ffffff;
    top: 54%;
    left: 29%;
    animation-duration: 12s;
    animation-delay: -57s;
    transform-origin: -12vw 15vh;
    box-shadow: -2vmin 0 0.9442441742752989vmin currentColor;
}
.background span:nth-child(7) {
    color: #ffffff;
    top: 54%;
    left: 29%;
    animation-duration: 12s;
    animation-delay: -57s;
    transform-origin: -12vw 15vh;
    box-shadow: -2vmin 0 0.9442441742752989vmin currentColor;
}
.background span:nth-child(8) {
    color: #ffffff;
    top: 54%;
    left: 29%;
    animation-duration: 12s;
    animation-delay: -57s;
    transform-origin: -12vw 15vh;
    box-shadow: -2vmin 0 0.9442441742752989vmin currentColor;
}
.background span:nth-child(9) {
    color: #ffffff;
    top: 54%;
    left: 29%;
    animation-duration: 12s;
    animation-delay: -57s;
    transform-origin: -12vw 15vh;
    box-shadow: -2vmin 0 0.9442441742752989vmin currentColor;
}
.background span:nth-child(10) {
    color: #ffffff;
    top: 54%;
    left: 29%;
    animation-duration: 12s;
    animation-delay: -57s;
    transform-origin: -12vw 15vh;
    box-shadow: -2vmin 0 0.9442441742752989vmin currentColor;
}
.background span:nth-child(11) {
    color: #ffffff;
    top: 54%;
    left: 29%;
    animation-duration: 12s;
    animation-delay: -57s;
    transform-origin: -12vw 15vh;
    box-shadow: -2vmin 0 0.9442441742752989vmin currentColor;
}
.background span:nth-child(12) {
    color: #ffffff;
    top: 54%;
    left: 29%;
    animation-duration: 12s;
    animation-delay: -57s;
    transform-origin: -12vw 15vh;
    box-shadow: -2vmin 0 0.9442441742752989vmin currentColor;
}
.background span:nth-child(13) {
    color: #E45A84;
    top: 54%;
    left: 29%;
    animation-duration: 12s;
    animation-delay: -57s;
    transform-origin: -12vw 15vh;
    box-shadow: -2vmin 0 0.9442441742752989vmin currentColor;
}
.background span:nth-child(14) {
    color: #FFACAC;
    top: 38%;
    left: 21%;
    animation-duration: 45s;
    animation-delay: -44s;
    transform-origin: 23vw -11vh;
    box-shadow: -2vmin 0 0.9956851053478741vmin currentColor;
}
.background span:nth-child(15) {
    color: #FFACAC;
    top: 29%;
    left: 64%;
    animation-duration: 54s;
    animation-delay: -63s;
    transform-origin: 25vw 10vh;
    box-shadow: 2vmin 0 0.5391310574869135vmin currentColor;
}
.background span:nth-child(16) {
    color: #E45A84;
    top: 17%;
    left: 15%;
    animation-duration: 43s;
    animation-delay: -46s;
    transform-origin: -17vw 14vh;
    box-shadow: -2vmin 0 0.3773253858849688vmin currentColor;
}
.background span:nth-child(17) {
    color: #FFACAC;
    top: 80%;
    left: 11%;
    animation-duration: 64s;
    animation-delay: -51s;
    transform-origin: -4vw -2vh;
    box-shadow: -2vmin 0 0.9033398323062918vmin currentColor;
}
.background span:nth-child(18) {
    color: #E45A84;
    top: 100%;
    left: 75%;
    animation-duration: 59s;
    animation-delay: -65s;
    transform-origin: -17vw -21vh;
    box-shadow: -2vmin 0 1.1785372325153778vmin currentColor;
}
.background span:nth-child(19) {
    color: #FFACAC;
    top: 96%;
    left: 22%;
    animation-duration: 26s;
    animation-delay: -49s;
    transform-origin: 17vw -10vh;
    box-shadow: -2vmin 0 1.0497647902567897vmin currentColor;
}
.background span:nth-child(20) {
    color: #FFACAC;
    top: 88%;
    left: 90%;
    animation-duration: 37s;
    animation-delay: -33s;
    transform-origin: -22vw -18vh;
    box-shadow: -2vmin 0 0.7536233288452285vmin currentColor;
}
.background span:nth-child(21) {
    color: #E45A84;
    top: 42%;
    left: 4%;
    animation-duration: 10s;
    animation-delay: -10s;
    transform-origin: -6vw 3vh;
    box-shadow: -2vmin 0 0.7347381927189323vmin currentColor;
}
.background span:nth-child(22) {
    color: #94fffd;
    top: 24%;
    left: 31%;
    animation-duration: 45s;
    animation-delay: -58s;
    transform-origin: -14vw -12vh;
    box-shadow: 2vmin 0 0.9365012463693294vmin currentColor;
}
.background span:nth-child(23) {
    color: #94fffd;
    top: 21%;
    left: 19%;
    animation-duration: 13s;
    animation-delay: -11s;
    transform-origin: -8vw -15vh;
    box-shadow: -2vmin 0 0.7732359053821085vmin currentColor;
}
.background span:nth-child(24) {
    color: #FFACAC;
    top: 50%;
    left: 63%;
    animation-duration: 47s;
    animation-delay: -67s;
    transform-origin: -17vw 18vh;
    box-shadow: 2vmin 0 0.5264354613678834vmin currentColor;
}
.background span:nth-child(25) {
    color: #E45A84;
    top: 45%;
    left: 63%;
    animation-duration: 66s;
    animation-delay: -13s;
    transform-origin: 22vw 22vh;
    box-shadow: -2vmin 0 1.0395138010880067vmin currentColor;
}
.background span:nth-child(26) {
    color: #E45A84;
    top: 41%;
    left: 60%;
    animation-duration: 69s;
    animation-delay: -38s;
    transform-origin: 20vw 10vh;
    box-shadow: -2vmin 0 1.1465081828362025vmin currentColor;
}
.background span:nth-child(27) {
    color: #E45A84;
    top: 17%;
    left: 76%;
    animation-duration: 28s;
    animation-delay: -51s;
    transform-origin: -5vw -7vh;
    box-shadow: -2vmin 0 0.5817341406011769vmin currentColor;
}
.background span:nth-child(28) {
    color: #FFACAC;
    top: 58%;
    left: 69%;
    animation-duration: 32s;
    animation-delay: -30s;
    transform-origin: -1vw -17vh;
    box-shadow: -2vmin 0 0.7356125271212632vmin currentColor;
}
.background span:nth-child(29) {
    color: #FFACAC;
    top: 16%;
    left: 76%;
    animation-duration: 35s;
    animation-delay: -13s;
    transform-origin: 7vw 24vh;
    box-shadow: 2vmin 0 0.3662498574394628vmin currentColor;
}
.background span:nth-child(30) {
    color: #94fffd;
    top: 60%;
    left: 87%;
    animation-duration: 27s;
    animation-delay: -4s;
    transform-origin: -2vw -15vh;
    box-shadow: -2vmin 0 0.9522008848983037vmin currentColor;
}
.background span:nth-child(31) {
    color: #FFACAC;
    top: 18%;
    left: 18%;
    animation-duration: 59s;
    animation-delay: -52s;
    transform-origin: 25vw 13vh;
    box-shadow: 2vmin 0 1.046939558519788vmin currentColor;
}
.background span:nth-child(32) {
    color: #FFACAC;
    top: 83%;
    left: 4%;
    animation-duration: 30s;
    animation-delay: -19s;
    transform-origin: 5vw -5vh;
}
.background span:nth-child(33) {
    color: #E45A84;
    top: 79%;
    left: 57%;
    animation-duration: 73s;
    animation-delay: -67s;
    transform-origin: -12vw 12vh;
}
.background span:nth-child(34) {
    color: #94fffd;
    top: 66%;
    left: 70%;
    animation-duration: 30s;
    animation-delay: -58s;
    transform-origin: -19vw 9vh;
}
.background span:nth-child(35) {
    color: #E45A84;
    top: 35%;
    left: 58%;
    animation-duration: 68s;
    animation-delay: -52s;
    transform-origin: 5vw 18vh;
}
.background span:nth-child(36) {
    color: #E45A84;
    top: 58%;
    left: 76%;
    animation-duration: 51s;
    animation-delay: -18s;
    transform-origin: -10vw 19vh;
}
.background span:nth-child(37) {
    color: #E45A84;
    top: 54%;
    left: 45%;
    animation-duration: 47s;
    animation-delay: -38s;
    transform-origin: -3vw 21vh;
}
.background span:nth-child(38) {
    color: #FFACAC;
    top: 62%;
    left: 21%;
    animation-duration: 53s;
    animation-delay: -33s;
    transform-origin: 7vw -6vh;

}
.background span:nth-child(39) {
    color: #FFACAC;
    top: 89%;
    left: 86%;
    animation-duration: 62s;
    animation-delay: -13s;
    transform-origin: -19vw -16vh;
}
.background span:nth-child(40) {
    color: #ffffff;
    top: 86%;
    left: 84%;
    animation-duration: 61s;
    animation-delay: -33s;
    transform-origin: 16vw 24vh;
    text-shadow: 1px 1px 1px #000000;
}
.background span:nth-child(41) {
    color: #FFACAC;
    top: 68%;
    left: 32%;
    animation-duration: 64s;
    animation-delay: -12s;
    transform-origin: -17vw -2vh;

}
.background span:nth-child(42) {
    color: #E45A84;
    top: 7%;
    left: 31%;
    animation-duration: 47s;
    animation-delay: -8s;
    transform-origin: 12vw -9vh;
    box-shadow: -2vmin 0 0.8019104571789559vmin currentColor;
    text-shadow: 1px 1px 1px #000000;
}
.background span:nth-child(43) {
    color: #94fffd;
    top: 73%;
    left: 25%;
    animation-duration: 40s;
    animation-delay: -14s;
    transform-origin: -22vw -20vh;
    box-shadow: 2vmin 0 0.5153392996659107vmin currentColor;
    text-shadow: 1px 1px 1px #000000;
}
.background span:nth-child(44) {
    color: #E45A84;
    top: 16%;
    left: 30%;
    animation-duration: 45s;
    animation-delay: -57s;
    transform-origin: 25vw -24vh;
    box-shadow: 2vmin 0 0.47402546041181104vmin currentColor;
    text-shadow: 1px 1px 1px #000000;
}
.background span:nth-child(45) {
    color: #FFACAC;
    top: 83%;
    left: 16%;
    animation-duration: 9s;
    animation-delay: -17s;
    transform-origin: -6vw -1vh;
    box-shadow: 2vmin 0 0.5073575259072491vmin currentColor;
    text-shadow: 1px 1px 1px #000000;
}
.background span:nth-child(46) {
    color: #E45A84;
    top: 82%;
    left: 90%;
    animation-duration: 41s;
    animation-delay: -53s;
    transform-origin: 25vw 1vh;
    box-shadow: 2vmin 0 1.0817941022073359vmin currentColor;
    text-shadow: 1px 1px 1px #000000;
}
.background span:nth-child(47) {
    color: #E45A84;
    top: 14%;
    left: 9%;
    animation-duration: 28s;
    animation-delay: -50s;
    transform-origin: 11vw -15vh;
    box-shadow: 2vmin 0 0.5744759839106885vmin currentColor;
    text-shadow: 1px 1px 1px #000000;
}
.background span:nth-child(48) {
    color: #94fffd;
    top: 70%;
    left: 10%;
    animation-duration: 65s;
    animation-delay: -30s;
    transform-origin: 16vw -1vh;
    box-shadow: 2vmin 0 0.7830809509654522vmin currentColor;
    text-shadow: 1px 1px 1px #000000;
}
.background span:nth-child(49) {
    color: #94fffd;
    top: 31%;
    left: 96%;
    animation-duration: 72s;
    animation-delay: -4s;
    transform-origin: 9vw -7vh;
    box-shadow: 2vmin 0 1.189283258434886vmin currentColor;
    text-shadow: 1px 1px 1px #000000;
}

.block-subtitle{
    width: 80%;
}

.scroll{
    width: 20%;
    object-fit: contain;
}

#more-arrows {
    width: 75px;
    height: 65px;

    &:hover {

        polygon {
            fill: #FFF;
            transition: all .2s ease-out;

            &.arrow-bottom {
                transform: translateY(-18px);
            }

            &.arrow-top {
                transform: translateY(18px);
            }

        }

    }

}

.arrow{
    text-align: end;
}

.link-scroll{
    text-decoration: none;
    color: #08fdd8;
}

.link-contact{
    text-decoration: none;
    color: #08fdd8;
}

.link-contact:hover{
    text-decoration: none;
    color: #1d1d1d;
}

.link-sroll:focus{
    color: #1d1d1d;
}

.link-sroll:hover{
    color: #1d1d1d;
}

polygon {
    fill: #FFF;
    transition: all .2s ease-out;

    &.arrow-middle {
        opacity: 0.75;
    }

    &.arrow-top {
        opacity: 0.5
    }

}

.content-back-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 105%;
}

.contact-reveal-arrow{
    width: 0px;
}

#more-arrows{

}

.arrow {
    display: inline-block; /* Add this to prevent the element from taking up full width */
    width: 50px; /* Set to same width as #more-arrows */
    height: 50px; /* Set to same height as #more-arrows */
}

.spinner {
    background-image: linear-gradient(rgb(235, 96, 235) 35%,rgb(0, 225, 255));
    width: 100px;
    height: 100px;
    animation: spinning82341 5s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(235, 96, 235), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1:focus {
    transform: translateY(-0.25em);
    box-shadow: var(--hoverspinner);
    background-color: #047E6C;
    color: white;
}

.spinner1:hover{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hoverspinner);
    transform: translateY(-0.25em);
    background-color: #047E6C;
    color: #1d1d1d;
}

.spinner1 {
    background-color: rgb(36, 36, 36);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    transition: 0.35s;
}

.link-sroll{
    text-decoration: none;
}

@keyframes spinning82341 {
    to {
        transform: rotate(360deg);
    }
}

.arrow-home{
    width: 40px;
    position: absolute;
    z-index: 1;
    top: 50%; /* add this to position the arrow vertically centered */
    left: 50%; /* add this to position the arrow horizontally centered */
    transform: translate(-50%, -50%);
}

.p-down{
    padding-top: 40%;
    font-size: 1.5rem;
    text-decoration: none;
}

@media screen and (max-width: 768px){
    .title{
        font-family: Montserrat,sans-serif;
        font-size: calc(2.5rem + 1vw);
        margin-left: 10%;
        margin-right: 15%;
        margin-top: 20%;
        text-align: left;
        white-space: pre-line;
        width: 50%;
    }

    .menu{
        margin-left: 75%;
        margin-top: -10%;
        position: absolute;
        width: 3em;
        z-index: 1;
    }
}

@media only screen and (min-width: 300px) and (max-width:768px){
    //.menu{
    //    width: 50px;
    //    margin-left: 80%;
    //    margin-top: -15%;
    //    position: fixed;
    //    z-index: 1;
    //}

    .ul-mobile{
        font-size: 2em;
        list-style-type: none;
        margin-top: 40%;
    }

    .li-mobile{
        margin-bottom: 5%;
    }

    //.title{
    //    font-family: Montserrat,sans-serif;
    //    font-size: 3em;
    //    margin-left: 5%;
    //    margin-top: 25%;
    //    white-space: pre-line;
    //    text-align: left;
    //    width: 90%;
    //
    //}

    .block-subtitle{
        margin-left: 10%;
        width: 80%;
        margin-top: 15%;
    }

    .spinner{
        display: none;
    }

    .subtitle{
        font-size: 1.3rem;
        margin-top: 2%;
        letter-spacing: 0.2em;
        color: #ffffff;
        transition: 0.25s;
    }

    .raise-ct{
        background: none;
        border: 2px solid #08fdd8;
        line-height: 1;
        margin: 0.5em;
        padding: 1em 2em;
        width: 100%;
        height: 8vh;
        font-size: 1.5rem;
        color: #08fdd8;
        transition: 0.35s;
        letter-spacing: 0.2em;
        margin-top: 20%;
        margin-left: 0;
    }

    .content-header{
        margin: 0 auto;
    }

    .raise{
        background: none;
        border: 2px solid #08fdd8;
        line-height: 1;
        margin: 0.5em;
        padding: 1em;
        height: 8vh;
        font-size: 1rem;
        color: #08fdd8;
        margin-top: 7%;
        transition: 0.35s;
        letter-spacing: 0.2em;
    }

    .block{
        /* width: 120px; */
        /* height: 120px; */
        border: #08fdd8 3px solid;
        margin-right: 30px;
        margin-bottom: 30px;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        /* transition: 1s all ease; */
        margin-left: 0%;
        padding: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    //.title{
    //    margin-left: 0;
    //    font-size: 90px;
    //}

    .block-subtitle{
        margin-left: 0;
    }
}

@media only screen and (max-width: 600px){
    .background{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        background-color: #1d1d1d;
        z-index: -1;
    }
}

@media screen and (min-width: 1921px){

    .background{
        width: 100%;
       height: 100%;
    }
}

@media only screen and (min-width: 1921px) and (max-width: 3000px){

}

//@media only screen and (max-width: 720px){
//    .background{
//        position: fixed;
//        width: 100%;
//        height: 100%;
//        top: 0;
//        left: 0;
//        overflow: hidden;
//        background-color: #1d1d1d;
//        z-index: -1;
//    }
//
//    .title{
//        font-size: 33px;
//        margin-top: 25%;
//        font-family: "Montserrat", sans-serif;
//        white-space: pre-line;
//        margin-left: 10%;
//    }
//
//    .raise-ct{
//        font-size: 15px;
//    }
//}

body{
    height: 100%;
    margin: 0 auto;
    font-size: 90%;
    zoom: 76%;
}