#about{
    padding-top: 15%;
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.title-about{
    text-align: left;
    font-size: 5em;
    color: #08fdd8;
    margin-top: 0;
    margin-bottom: 5%;
}

.text-about{
    font-size: 1.3rem;
    text-align: left;
    width: 80%;
    letter-spacing: 0.2em;
    margin-bottom: 5%;
}

.text-about-2{
    font-size: 1.5rem;
    text-align: left;
    width: 80%;
    letter-spacing: 0.2em;
    margin-bottom: 5%;
}

.content-text-about{
    margin-left: 20%;
    align-self: center;
    width: 45%;
}

.block{
    width: 13em;
    height: 11em;
    border: #08fdd8 3px solid;
    margin-right: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all ease;
}

.block:hover{
    background-color: #08fdd8;

    .icon{
        display: none;
    }

    .text-language{
        display: block;
        color: black;
        font-size: 1.5rem;
        letter-spacing: 0.2em;
    }
}


.pdf{
    text-align: left;
    font-size: 1.1rem;
    color: #08fdd8;
    margin-top: 0;
    letter-spacing: 0.2em;
    background: none;
    border: none;
    padding-left: 0;
    font-weight: 900;
}

.text-language{
    display: none;
}

.icon {
    display: block;
    margin: 0 auto;
    width: 8em;
}

.content-block{
    margin-right: 5%;
    width: 35%;
}

.content-about{
    align-content: center;
    justify-content: space-between;
}

.link-cv{
    text-decoration: none;
    color: #08fdd8;
    font-size: 1.3rem;
    letter-spacing: 0.2em;
    font-weight: 700;
    text-align: left;
}

.link-cv:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background-color: #08fdd8;
    transition: width 0.3s ease 0s, right 0.3s ease 0s;
    width: 0;
    cursor: grab !important;
}
.link-cv:hover:after {
    width: 50%;
    right: 0;
    left: 0;
    margin-top: 5%;
    cursor: grab !important;
}

@media (min-width: 1024px){
    .left{
        text-align: left;
    }
}

@media only screen and (min-width: 300px) and (max-width:768px){
    #about{
        padding-top: 0;
        margin-top: 30%;
    }

    .title-about{
        text-align: left;
        font-size: 2.6em;
        color: #08fdd8;
        margin-top: 0;
        margin-bottom: 5%;
        margin-left: 10%;
    }

    .text-about{
        font-size:1.1em;
        margin-left: 10%;
    }

    .block{
        width: 10em;
        border: #08fdd8 3px solid;
        margin-right: 3%;
        margin-bottom: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s all ease;
        height: 5em;
    }

    .icon{
        width: 5em;
    }

    .content-block{
        margin-top: 10%;
        margin-left: 5%;
    }

    .content-text-about{
        margin-left: 0;
        width: 100%;
    }

    .link-cv{
        text-decoration: none;
        color: #08fdd8;
        font-size: 1em;
        letter-spacing: 0.2em;
        text-align: left;
    }
}

@media screen and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape){
    .content-text-about{
        margin-left: 10%;
    }
}

@media  (min-width: 768px) and (max-width: 1024px){
    .content-text-about{
        margin-left: 0%;
    }

    .react-reveal{
        display: flex;
    }

    .content-block{
        margin-right: 5%;
        margin-left: 10%;
        margin-top: 10%;
    }

    .content-text-about{
        margin-left: 10%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .pdf{
        text-align: left;
        font-size: 1.5rem;
        color: #08fdd8;
        margin-top: 0;
        letter-spacing: 0.2em;
        background: none;
        border: none;
        font-weight: 900;
        margin-left: 10%;
    }

    .content-block{
        margin-left: 10%;
    }

    //.block{
    //    width: 160px;
    //    height: 160px;
    //}

    .content-text-about{
        margin-left: 10%;
    }
}

//@media only screen and (max-width: 720px){
//    .title-about{
//        font-size: 35px;
//    }
//    .pdf{
//        padding-left: 10%;
//    }
//    .content-block{
//        margin-top: 10%;
//        margin-left: 7%;
//    }
//}

//@media only screen and (max-width: 600px){
//    .block{
//        width: 120px;
//        height: 120px;
//        border: #08fdd8 3px solid;
//        margin-right: 30px;
//        margin-bottom: 30px;
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        transition: 1s all ease;
//    }
//}