@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+2&family=DM+Serif+Text&family=Handlee&family=Inter:wght@300;500&family=La+Belle+Aurore&family=League+Spartan:wght@100;200;500&family=Lilita+One&family=Montserrat:wght@100;400&family=Noto+Sans:wght@500&family=Noto+Serif+SC:wght@500&family=Nunito:wght@200&family=Open+Sans:wght@300&family=Poppins:wght@100&family=Rubik+Mono+One&family=Ubuntu:wght@300;400;500&family=Vidaloka&family=Work+Sans:wght@100&display=swap');
*{
  color: white;
}
/*.cursor {*/
/*  width: 20px;*/
/*  height: 20px;*/
/*  background-color: #0077ff; !* Couleur de fond *!*/
/*  border-radius: 50%; !* Forme circulaire *!*/
/*  border: 2px solid #fff; !* Bordure blanche de 2px *!*/
/*  transform: translate(-50%, -50%); !* Centrer le curseur *!*/
/*  position: absolute; !* Position absolue par rapport à la page *!*/
/*  z-index: 9999; !* Mettre le curseur au-dessus de tout le contenu *!*/

/*}*/

.App {
  text-align: center;
}

@media (min-width: 1024px){
  .flex{
    display: flex !important;
  }
}

@media (max-width: 768px) {
  .flex-mobile{
    display: flex !important;
  }
}

.aside{
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #191919;
  z-index: 1;
}

.aside-wrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
}

.App-link {
  color: #61dafb;
}



/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@media (min-width: 1024px) {
  #home, #portefolios,#skills, #about, #contact {
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #1d1d1d;
    z-index: -1;
  }

  /*.title{*/
  /*  font-size: 110px;*/
  /*  text-align: left;*/
  /*  margin-top: 70%;*/
  /*  font-family: "Montserrat", sans-serif;*/
  /*  white-space: pre-line;*/
  /*}*/

  .navbar-container{
    display: none;
  }


  /*#home, #portefolios,#skills, #about, #contact {*/
  /*  height: 100vh;*/
  /*}*/

}

body {
  overflow: hidden;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" height="10" width="10"><circle fill="%2366cdaa" cx="5" cy="5" r="5"/></svg>')
  10 10,
  auto;

canvas {
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 10px;
  left: -10px;
  top: -10px;
  background: white;
  height: 100%;
  width: 100%;
  filter: url("#goo-filter") blur(3px) contrast(7);
}

main {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  place-items: center;

h1 {
  font-family: "Fascinate", cursive;
  font-size: 10vw;
  opacity: 0.5;
  background-color: #00c9ff;
  background: linear-gradient(90deg, #00c9ff 0%, #66cdaa 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
}
}




